__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
uploads/
.DS_Store
*.mp4
*.mp3
*.wav
*.json
!requirements.txt
!railway.json
.env
sql_app.db
.idea/

# AI Model Weights
backend/third_party/**/*.pth
backend/third_party/**/*.weights
backend/third_party/**/checkpoints/
